name: Build for TP-Link WDR3500
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Исправленный этап скачивания (без фильтров по веткам)
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Установка компилятора
      - name: Install Cross-Compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-mips-linux-gnu

      # 3. Компиляция (Статический бинарник для работы на любой прошивке)
      - name: Compile youtubeUnblock
        run: |
          mips-linux-gnu-gcc -static -O3 -msoft-float src/*.c -o youtubeUnblock_wdr3500 -lpthread
          mips-linux-gnu-strip youtubeUnblock_wdr3500

      # 4. Сохранение результата
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtubeUnblock-WDR3500
          path: youtubeUnblock_wdr3500
