name: Build for TP-Link WDR3500
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0

      - name: Compile with Zig
        run: |
          # Собираем только пользовательское приложение (пропуская kytunblock.c)
          # mips-linux-musl: Big Endian (WDR3500)
          # cpu-mips32r2: архитектура AR9344
          zig cc -target mips-linux-musl -mcpu=mips32r2 -O3 \
          src/args.c src/getopt.c src/inet_ntop.c src/mangle.c src/quic.c \
          src/quic_crypto.c src/tls.c src/trie.c src/utils.c src/youtubeUnblock.c \
          -o youtubeUnblock_wdr3500 -lpthread

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtubeUnblock-WDR3500
          path: youtubeUnblock_wdr3500
