name: Build for TP-Link WDR3500
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Compiler
        run: sudo apt-get update && sudo apt-get install -y gcc-mips-linux-gnu
      - name: Build Static Binary
        run: |
          # Собираем СТАТИЧЕСКИЙ файл. Он будет работать на ЛЮБОЙ версии OpenWrt, 
          # так как не зависит от системных библиотек версии 23.05.
          mips-linux-gnu-gcc -static -O3 -msoft-float src/*.c -o youtubeUnblock_mips_static -lpthread
          mips-linux-gnu-strip youtubeUnblock_mips_static
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: youtubeUnblock-WDR3500
          path: youtubeUnblock_mips_static


